<p-dialog
  [(visible)]="visible"
  (onHide)="closeDialog()"
  header="Create New Invitation"
  [modal]="true"
  [style]="{ width: '450px' }">

  <form [formGroup]="createForm" (ngSubmit)="submitInvite()">
    <div class="p-fluid">

      <!-- Email -->
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Email" />
        <label>Email address</label>
      </div>

      <!-- Designation -->
      <div class="form-floating mb-3">
        <select
          class="form-select"
          formControlName="designationId"
          (change)="onDesignationChanged()">
          <option [ngValue]="null" disabled>Select designation</option>
          <option *ngFor="let d of designations" [ngValue]="d.id">
            {{ d.name }}
          </option>
        </select>
        <label>Designation</label>
      </div>

      <!-- Department (hidden for executive) -->
      <div class="form-floating mb-3" *ngIf="!isExecutive">
        <select
          class="form-select"
          formControlName="departmentId"
          (change)="onDepartmentChanged()">
          <option [ngValue]="null" disabled>Select department</option>
          <option *ngFor="let d of departments" [ngValue]="d.id">
            {{ d.name }}
          </option>
        </select>
        <label>Department</label>
      </div>

      <!-- Job Title (hidden for executive) -->
      <div class="form-floating mb-3" *ngIf="!isExecutive">
        <select class="form-select" formControlName="jobTitleId">
          <option [ngValue]="null" disabled>Select job title</option>
          <option *ngFor="let jt of jobTitles" [ngValue]="jt.id">
            {{ jt.name }}
          </option>
        </select>
        <label>Job Title</label>
      </div>

    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog()" />
    <p-button
      label="Send Invite"
      icon="pi pi-send"
      [loading]="isSubmitting()"
      [disabled]="createForm.invalid || isSubmitting()"
      (click)="submitInvite()" />
  </ng-template>

</p-dialog>
