<p-dialog [(visible)]="visible" (onHide)="closeDialog()" [style]="{ width: '450px' }" header="Update Invitation" [modal]="true">

  <form [formGroup]="updateForm"> 
    <div class="p-fluid" *ngIf="invite">

      <div class="field mb-4">
        <label class="font-bold block">Email:</label>
        <p>{{ invite.email }}</p>
      </div>

      <div class="field mb-4">
        <label class="font-bold block">Status:</label>
        <p-tag [value]="getStatusText(invite.status)" [severity]="getSeverity(invite.status)" />
      </div>

      <!-- <div class="form-floating">
        <select class="form-select" id="role" formControlName="role"
          [ngClass]="{'is-invalid': updateForm.get('role')?.invalid && updateForm.get('role')?.touched}">
          <option [ngValue]="null" disabled>Select a role</option>
          <option *ngFor="let role of roles" [ngValue]="role.value">
            {{ role.label }}
          </option>
        </select>
        <label for="role">
          <i class="bi bi-stars me-1"></i>Select Role
        </label>
        <div class="invalid-feedback" *ngIf="updateForm.get('role')?.invalid && updateForm.get('role')?.touched">
          Role selection is required
        </div>
      </div> -->

    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog()" />
    
    <p-button 
      label="Update" 
      icon="pi pi-check" 
      (click)="submitUpdate()" 
      [loading]="isSubmitting()" 
      [disabled]="updateForm.invalid || isSubmitting()" 
    />
  </ng-template>

</p-dialog>