<p-card class="m-4">
  <div class="flex flex-column gap-2">
    <div><strong>Role: </strong>Admin</div>
    <div><strong>First Name:</strong> {{ user?.firstName }}</div>
    <div><strong>Last Name:</strong> {{ user?.lastName }}</div>
    <div><strong>Email:</strong> {{ user?.email }}</div>
    <div><strong>Public ID:</strong> {{ user?.publicId||'N/A' }}</div>
  </div>
</p-card>


<!-- Create Order Button -->
<div class="d-grid mt-3 mb-3">
  <button
    type="button"
    class="btn btn-primary p-2"
    (click)="createNewOrder()"
    [disabled]="isLoading()"
  >
    <span
      *ngIf="isLoading()"
      class="spinner-border spinner-border-sm me-2"
      role="status"
      aria-hidden="true"
    ></span>
    {{ isLoading() ? 'Creating...' : 'Create New Order' }}
  </button>
</div>

<p-card class="flex flex-column md:flex-row md:align-items-center justify-content-between mb-3">
  <div>
    <h2 class="text-2xl font-semibold m-0">Orders</h2>
    <p class="text-color-secondary m-0 mt-1">
      List of all orders
    </p>
  </div>
</p-card>

<p-card>
  <p-table #dt [value]="orders()" [lazy]="true" [paginator]="true" [rows]="orderService.pageSize()"
    [totalRecords]="orderService.totalCount()" [first]="(orderService.pageNumber() - 1) * orderService.pageSize()"
    [loading]="isLoading()" dataKey="publicId" [rowHover]="true" [tableStyle]="{ 'min-width': '70rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} orders" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]" (onPage)="onPageChange($event)">


    <!-- Header -->
    <ng-template #header>
      <tr>
        <th>Customer</th>
        <th>Order ID</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Created On</th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template #body let-order>
      <tr>
       <!-- customer stack -->
      <td>
        <div class="customer-stack">
          <div class="customer-name">
           {{ order.customer.publicId }} - {{ order.customer.fullName }}
            
          </div>

          <div class="customer-meta fw-semibold">
            {{ order.customer.email }}
          </div>
        </div>
      </td>
        <td class="fw-semibold">{{ order.publicId }}</td>

        <td>
          <p-tag [value]="getStatusText(order.status)" [severity]="getStatusSeverity(order.status)"></p-tag>
        </td>

        <td>{{ order.amount | currency }}</td>
        <td>{{ order.createdOn | appDateTime }}</td>

      </tr>
    </ng-template>
  </p-table>
</p-card>