<p-card class="flex flex-column md:flex-row md:align-items-center justify-content-between">
    <div>
        <h2 class="text-2xl font-semibold m-0">Departments</h2>
        <p class="text-color-secondary m-0 mt-1">Manage and organize your departments</p>
    </div>
    <div class="flex mt-3">
        <p-button label="New Department" icon="pi pi-plus" severity="primary" (onClick)="openNew()" class="shadow-sm" />
    </div>
</p-card>
<div class="mt-3">
    <p-card>
        <p-table #dt [value]="departments()" [lazy]="true" [paginator]="true" [rows]="departmentService.pageSize()"
            [totalRecords]="departmentService.totalCount()"
            [first]="(departmentService.pageNumber() - 1) * departmentService.pageSize()" [loading]="isLoading()"
            dataKey="publicId" [rowHover]="true" [tableStyle]="{ 'min-width': '70rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} departments"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]" (onPage)="onPageChange($event)">

            <!-- Caption / Search -->
            <ng-template #caption>
                <div class="flex justify-content-end">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="Search by department name..." />
                    </span>
                </div>
            </ng-template>

            <!-- Header -->
            <ng-template #header>
                <tr>
                      <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th style="min-width: 14rem">Actions</th>
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template #body let-department>
                <tr>
                     <td class="fw-semibold">
                        {{ department.publicId }}
                    </td>
                    <td class="fw-semibold">
                        {{ department.name }}
                    </td>

                    <td class="text-muted description-cell" pTooltip="{{ department.description }}"
                        tooltipPosition="top">
                        {{ department.description || '-' }}
                    </td>

                    <td>
                        <p-tag [value]="department.isActive ? 'Active' : 'Inactive'"
                            [severity]="department.isActive ? 'success' : 'danger'">
                        </p-tag>
                    </td>

                    <td>
                        <button pButton type="button" icon="pi pi-eye" [outlined]="true" (click)="viewDepartmentDetails(department)">
                        </button>
                        <button pButton type="button" icon="pi pi-pencil"  class="ms-2"
                            (click)="editDepartment(department)">
                        </button>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <!-- Create/Update Dialogs -->
        <app-department-create-dialog [(visible)]="isCreateDialogOpen" (departmentCreated)="onDepartmentCreated()">
        </app-department-create-dialog>

        <app-department-update-dialog [visible]="isUpdateDialogOpen()" [department]="selectedDepartmentToEdit()"
            (departmentUpdated)="onDepartmentUpdated()" (visibleChange)="onUpdateDialogHide()">
        </app-department-update-dialog>
    </p-card>